
@{
    ViewBag.Title = "Pictures";
}

<h2>Pictures</h2>
<div>
    <ul class="bxslider">
        <li>
            <img src="~/images/belogradchishkiskali.jpg" />
            <div class="caption1"></div>
            <span>Белоградчишки скали</span>
        </li>
        <li><img src="~/images/chudnitemostove.jpg" />
             <div class="caption1"></div>
             <span>Чудните мостове</span>
        </li>
        <li><img src="~/images/dqvolskotogyrlo.jpg" />
             <div class="caption1"></div>
             <span>Дяволското гърло</span>
        </li>
        <li><img src="~/images/gluhitekamyni.jpg" />
             <div class="caption1"></div>
             <span>Глухите камъни</span>
        </li>
        <li>
            <img src="~/images/kamennigybi.jpg" />
            <div class="caption1"></div>
            <span>Каменните гъби</span>
        </li>
        <li>
            <img src="~/images/pobititekamyni.jpg" />
            <div class="caption1"></div>
            <span>Побитите камъни</span>
        </li>
        <li>
            <img src="~/images/qgodinskapeshtera.jpg" />
            <div class="caption1"></div>
            <span>Ягодинската пещера</span>
        </li>
        <li>
            <img src="~/images/sedemteezera.jpg" />
            <div class="caption1"></div>
            <span>Седемте езера</span>
        </li>
        <li>
            <img src="~/images/trigradskojdrelo.jpg" />
            <div class="caption1"></div>
            <span>Триградско ждрело</span>
        </li>
    </ul>
</div>

<ul>
    @model List<string>
    @for (int index = 0; index < Model.Count; index++)
    {
        <li>
            @Model[index]
            @Html.ActionLink("[Delete]", "RemoveItem", new { index})
        </li>
    }
</ul>

<form action="/Home/AddItem" method="post">
    <div>Добави коментар</div>
    <input type="text" autofocus name="newItem"/>
    <input type="submit"/>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true,
            pagerCustom: '#bx-pager',
            adaptiveHeight: true,
            slideWidth: 550
        });
    });
</script>
